.web {
  color: #2196f3;
}

.logo,
.logo-footer {
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 70%;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.logo:visited,
.logo-footer:visited {
  color: inherit;
}

.web,
.studio {
  margin-bottom: 20px;
}

.address-list li {
  margin-top: 9px;
  margin-bottom: 9px;
}

.menu-nav,
.address-list,
.button-list,
.projects-list,
.team-list,
.strengths-list,
.clients-list {
  list-style-type: none;
}

.menu-nav a,
.menu-contact a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 36%;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-nav li a:hover,
.menu-nav li a:focus,
.menu-contact a:hover,
.menu-contact a:focus,
.address-list a:hover,
.address-list a:focus {
  color: #2196f3;
}

.menu-nav a:visited,
.menu-contact a:visited,
.address-list a:visited {
  color: inherit;
}

.header-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  /* background-color: #2f303a; */
  width: 696px;
  margin-bottom: 30px;
}

.header-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 187%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.header .container {
  flex-direction: column;
}

.header {
  display: flex;
  height: 600px;
  background-color: #2f303a;
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 100%,
      rgba(0, 0, 0, 1) 100%
    ),
    url('../images/efektywne.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.strengths-icon {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.team-card-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram-icon,
.linkedin-icon,
.twitter-icon,
.facebook-icon {
  fill: #afb1b8;
}

.instagram-icon-footer,
.linkedin-icon-footer,
.twitter-icon-footer,
.facebook-icon-footer {
  fill: #ffffff;
}

.instagram-icon:hover,
.linkedin-icon:hover,
.twitter-icon:hover,
.facebook-icon:hover {
  fill: #ffffff;
}

.team-card-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.footer-card-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.team-card-link:hover,
.footer-card-link:hover {
  background-color: #2196f3;
}

.strengths h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.strengths p {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.strengths-list {
  display: flex;
  width: 1170px;
  padding: 0;
}

.clients .container {
  flex-direction: column;
}

.clients h2 {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  display: flex;
  width: 1170px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.clients-icon-background svg {
  fill: #afb1b8;
}

.clients-icon-background svg:hover {
  fill: #2196f3;
}

.clients-icon-background {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-icon-background:hover {
  border-color: #2196f3;
}

.work .container {
  flex-direction: column;
}

.work-photos {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.work h2,
.team h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 95%;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work h2 {
  height: 42px;
  white-space: nowrap;
}

img {
  vertical-align: middle;
}

.team .container {
  flex-direction: column;
}

.team h2 {
  width: 210px;
  height: 42px;
  white-space: nowrap;
}

.team figcaption {
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  background: #f5f4fa;
}

.team-list {
  display: flex;
  padding: 0;
  width: 1170px;
  justify-content: space-between;
}

.team-card1,
.team-card2,
.team-card3,
.team-card4 {
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.projects-list-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.project-title {
  margin-top: 20px;
  margin-bottom: 4px;
}

.project-description {
  margin-bottom: 20px;
}

.name {
  margin-bottom: 10px;
}

.team-card1 .role,
.team-card2 .role,
.team-card3 .role,
.team-card4 .role {
  height: 19px;
  white-space: nowrap;
  margin-bottom: 16px;
}

.page-footer .container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1170px;
}

.left-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 70px;
  margin-top: 60px;
}

.right-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 72px;
}

.footer-icons {
  display: flex;
  width: 206px;
  align-items: center;
  justify-content: space-between;
}

.right-footer p {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.address-list {
  padding: 0;
}

.logo-footer {
  margin-bottom: 60px;
  padding: 0;
}

.page-footer .container p {
  margin-bottom: 11px;
}

.page-footer,
.page-footer-portfolio {
  display: flex;
  height: 252px;
  background: #2f303a;
}

.logo-footer {
  width: 145px;
  height: 31px;
}

.address-list li:nth-child(1) {
  width: 246px;
  height: 21px;
}

.address-list li:nth-child(2) {
  width: 231px;
  height: 21px;
}

.address-list li:nth-child(3) {
  width: 231px;
  height: 21px;
}

.logo-footer,
.studio {
  color: #ffffff;
  background-color: #2f303a;
}

.address-list,
.address-list a {
  text-decoration: none;
  background-color: #2f303a;
  font-style: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.address-list {
  color: #ffffff;
}

.address-list a {
  color: rgba(255, 255, 255, 0.6);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #f5f4fa;
  border-width: 0;
  border-radius: 4px;
}

.button-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 572px;
  height: 54px;
}

.all,
.pages,
.app,
.design,
.marketing {
  height: 38px;
}

.all {
  width: 121px;
}

.pages {
  width: 93px;
}

.app {
  width: 114px;
}

.design {
  width: 91px;
}

.marketing {
  width: 121px;
}

.button:hover {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.title {
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
}

.projects figcaption {
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #212121;
}

.projects-list {
  justify-content: space-between;
  align-items: center;
  width: 1170px;
  height: 1272px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
  padding: 0px;
  align-content: space-between;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6,
.project7,
.project8,
.project9 {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover,
.project6:hover,
.project7:hover,
.project8:hover,
.project9:hover,
.project1:focus,
.project2:focus,
.project3:focus,
.project4:focus,
.project5:focus,
.project6:focus,
.project7:focus,
.project8:focus,
.project9:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project1 .project-title,
.project2 .project-title,
.project3 .project-title,
.project4 .project-title,
.project5 .project-title,
.project6 .project-title,
.project7 .project-title,
.project8 .project-title,
.project9 .project-title {
  width: 322px;
  height: 36px;
}

.project1 .project-description,
.project2 .project-description,
.project3 .project-description,
.project4 .project-description,
.project5 .project-description,
.project6 .project-description,
.project7 .project-description,
.project8 .project-description,
.project9 .project-description {
  width: 322px;
  height: 30px;
}

* {
  margin: 0;
}

.container {
  width: 1200px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0px;
  width: 254px;
}

.menu-nav-container {
  width: 625px;
}

.menu-contact {
  display: flex;
  justify-content: space-between;
  width: 312px;
}

.logo {
  width: 145px;
  height: 31px;
}

.logo-container {
  width: 238px;
}

.menu-flex {
  height: 100%;
  width: 1170px;
}

.agency {
  width: 53px;
}

.portfolio {
  width: 58px;
}

.contact {
  width: 51px;
}

.menu-mail {
  display: flex;
  width: 161px;
  justify-content: space-between;
  align-items: center;
}

.menu-mail svg,
.menu-tel svg {
  fill: #757575;
}

.menu-mail svg:hover,
.menu-tel svg:hover {
  fill: #2196f3;
}

.menu-tel {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
